schema/EUReg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Enterprise Architect 12.0.1210 ( Build: 1210 )-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	targetNamespace="http://dd.eionet.europa.eu/schemaset/euregistryonindustrialsites"
	xmlns:EUReg="http://dd.eionet.europa.eu/schemaset/euregistryonindustrialsites" version="2.0"
	xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:pf="http://inspire.ec.europa.eu/schemas/pf/4.0">

	<xs:annotation>
		<xs:documentation> This application schema imports and extends a modified version of the
			INSPIRE 'Production And Industrial Facilities - Core' application schema (v4.0). Find
			below changes performed in the PF: 'pointGeometry' --> multiplicity of the
			'pointGeometry' element has been changed from [0..1] to [1..1] both in the
			ProductionInstallation feature type and in the ProductionInstallationPart feature type
			'status' --> multiplicity of the 'status' element has been changed from [1..*] to [1..1]
			and stereotype is no more voidable. This has been made for the Production facility, the
			ProductionInstallation and the ProductionInstallationPart feature types 'Activity
			Complex import': a modified version of the Activity Complex core is imported in which
			the geometry of the Activity Complex is forced to be point. All implemented changes do
			not break INSPIRE rules, since they operate on INSPIRE-allowed values (they are
			restriction of the domain). </xs:documentation>
	</xs:annotation>

	<xs:import namespace="http://inspire.ec.europa.eu/schemas/pf/4.0"
		schemaLocation="http://dd.eionet.europa.eu/schemas/euregistryonindustrialsites/ProductionAndIndustrialFacilities-EURegistry.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2"
		schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>

	<!-- data types -->

	<xs:element name="AddressDetails" type="EUReg:AddressDetailsType" substitutionGroup="gml:AbstractObject"/>
	<xs:complexType name="AddressDetailsType">
		<xs:sequence>
			<xs:element name="streetName" type="xs:string"/>
			<xs:element name="buildingNumber" type="xs:string"/>
			<xs:element name="city" type="xs:string"/>
			<xs:element name="postalCode" type="xs:string"/>
			<xs:element name="confidentialityReason" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>http://dd.eionet.europa.eu/vocabulary/euregistryonindustrialsites/ReasonValue/</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressDetailsPropertyType">
		<xs:sequence>
			<xs:element ref="EUReg:AddressDetails"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>

	<xs:element name="BATderogationType" type="EUReg:BATderogationTypeType" substitutionGroup="gml:AbstractObject"/>


	<xs:complexType name="BATderogationTypeType">
		<xs:sequence>
			<xs:element name="derogationDurationEndDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="derogationDurationStartDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BATAEL" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>http://dd.eionet.europa.eu/vocabulary/euregistryonindustrialsites/BATAELValue/</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="publicReasonURL" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BATDerogationIndicator" type="xs:boolean"/>

		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BATderogationTypePropertyType">
		<xs:sequence>
			<xs:element ref="EUReg:BATderogationType"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>




	<xs:element name="CapacityWasteIncinerationType" type="EUReg:CapacityWasteIncinerationTypeType"
		substitutionGroup="gml:AbstractObject"/>
	<xs:complexType name="CapacityWasteIncinerationTypeType">
		<xs:sequence>
			<xs:element name="totalNominalCapacityAnyWasteType" type="xs:double"/>
			<xs:element name="permittedCapacityHazardous" type="xs:double"/>
			<xs:element name="permittedCapacityNonHazardous" type="xs:double"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CapacityWasteIncinerationTypePropertyType">
		<xs:sequence>
			<xs:element ref="EUReg:CapacityWasteIncinerationType"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>

	<xs:element name="CompetentAuthority" type="EUReg:CompetentAuthorityType"
		substitutionGroup="gml:AbstractObject"> </xs:element>
	<xs:complexType name="CompetentAuthorityType">
		<xs:sequence>
			<xs:element name="organisationName" type="xs:string"/>
			<xs:element name="individualName" type="xs:string"/>
			<xs:element name="electronicMailAddress" type="xs:string"/>
			<xs:element name="address" type="EUReg:AddressDetailsPropertyType"/>
			<xs:element name="telephoneNo" type="xs:string"/>
			<xs:element name="faxNo" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CompetentAuthorityPropertyType">
		<xs:sequence>
			<xs:element ref="EUReg:CompetentAuthority"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>

	<xs:element name="EPRTRAnnexIActivityType" type="EUReg:EPRTRAnnexIActivityTypeType"/>
	<xs:complexType name="EPRTRAnnexIActivityTypeType">
		<xs:sequence>
			<xs:element name="mainActivity" type="gml:ReferenceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						http://dd.eionet.europa.eu/vocabulary/euregistryonindustrialsites/EPRTRAnnexIActivityValue/
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="otherActivity" type="gml:ReferenceType" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>http://dd.eionet.europa.eu/vocabulary/euregistryonindustrialsites/EPRTRAnnexIActivityValue/</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EPRTRAnnexIActivityTypePropertyType">
		<xs:sequence>
			<xs:element ref="EUReg:EPRTRAnnexIActivityType"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>

	<xs:element name="IEDAnnexIActivityType" type="EUReg:IEDAnnexIActivityTypeType"
		substitutionGroup="gml:AbstractObject"/>
	<xs:complexType name="IEDAnnexIActivityTypeType">
		<xs:sequence>

			<xs:element name="mainActivity" type="gml:ReferenceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						http://dd.eionet.europa.eu/vocabulary/euregistryonindustrialsites/IEDAnnexIActivityValue/
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="otherActivity" type="gml:ReferenceType" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						http://dd.eionet.europa.eu/vocabulary/euregistryonindustrialsites/IEDAnnexIActivityValue/
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IEDAnnexIActivityTypePropertyType">
		<xs:sequence>
			<xs:element ref="EUReg:IEDAnnexIActivityType"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>


	<xs:element name="FeatureName" type="EUReg:FeatureNameType"
		substitutionGroup="gml:AbstractObject"/>
	<xs:complexType name="FeatureNameType">
		<xs:sequence>
			<xs:element name="nameOfFeature" type="xs:string"> </xs:element>
			<xs:element name="confidentialityReason" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>http://dd.eionet.europa.eu/vocabulary/euregistryonindustrialsites/ReasonValue/</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FeatureNamePropertyType">
		<xs:sequence>
			<xs:element ref="EUReg:FeatureName"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	
		
	<xs:element name="ParentCompanyDetails" type="EUReg:ParentCompanyDetailsType"
		substitutionGroup="gml:AbstractObject"/>
	<xs:complexType name="ParentCompanyDetailsType">
		<xs:sequence>
			<xs:element name="parentCompanyName" type="xs:string"> </xs:element>
			<xs:element name="parentCompanyURL" type="xs:anyURI" minOccurs="0" maxOccurs="1"/>
			<xs:element name="confidentialityReason" type="gml:ReferenceType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>http://dd.eionet.europa.eu/vocabulary/euregistryonindustrialsites/ReasonValue/</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ParentCompanyDetailsPropertyType">
		<xs:sequence>
			<xs:element ref="EUReg:ParentCompanyDetails"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
		
	
	<xs:element name="PermitDetails" type="EUReg:PermitDetailsType"
		substitutionGroup="gml:AbstractObject"/>
	<xs:complexType name="PermitDetailsType">
		<xs:sequence>
			<xs:element name="permitGranted" type="xs:boolean"/>
			<xs:element name="permitReconsidered" type="xs:boolean"/>
			<xs:element name="permitUpdated" type="xs:boolean"/>
			<xs:element name="dateOfGranting" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dateOfLastUpdate" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="permitURL" type="xs:anyURI" minOccurs="0" maxOccurs="1"/>
			<xs:element name="enforcementAction" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PermitDetailsPropertyType">
		<xs:sequence>
			<xs:element ref="EUReg:PermitDetails"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>

	<xs:element name="SiteVisitsType" type="EUReg:SiteVisitsTypeType"
		substitutionGroup="gml:AbstractObject"/>
	<xs:complexType name="SiteVisitsTypeType">
		<xs:sequence>
			<xs:element name="siteVisitURL" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="siteVisitNumber" type="xs:integer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SiteVisitsTypePropertyType">
		<xs:sequence>
			<xs:element ref="EUReg:SiteVisitsType"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="SpecificConditionsType" type="EUReg:SpecificConditionsTypeType"
		substitutionGroup="gml:AbstractObject"/>
	<xs:complexType name="SpecificConditionsTypeType">
		<xs:sequence>
			<xs:element name="specificConditionsPermitURL" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="conditionsInformation" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="specificConditions" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>http://dd.eionet.europa.eu/vocabulary/euregistryonindustrialsites/Article51Value/</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SpecificConditionsTypePropertyType">
		<xs:sequence>
			<xs:element ref="EUReg:SpecificConditionsType"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>

	<xs:element name="StricterPermitConditionsType" type="EUReg:StricterPermitConditionsTypeType" substitutionGroup="gml:AbstractObject"/>


	<xs:complexType name="StricterPermitConditionsTypeType">
		<xs:sequence>
			<xs:element name="article18" type="xs:boolean"/>
			<xs:element name="article14.4" type="xs:boolean"> </xs:element>
			<xs:element name="BATAEL" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>http://dd.eionet.europa.eu/vocabulary/euregistryonindustrialsites/BATAELValue/</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="stricterPermitConditionsIndicator" type="xs:boolean"/>

		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="StricterPermitConditionsTypePropertyType">
		<xs:sequence>
			<xs:element ref="EUReg:StricterPermitConditionsType"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>



	<!-- feature types -->

	<xs:element name="ProductionFacility" type="EUReg:ProductionFacilityType"
		substitutionGroup="pf:ProductionFacility"/>
	<xs:complexType name="ProductionFacilityType">
		<xs:complexContent>
			<xs:extension base="pf:ProductionFacilityType">
				<xs:sequence>

					<xs:element name="facilityName" type="EUReg:FeatureNamePropertyType"/>
					<xs:element name="competentAuthorityEPRTR" minOccurs="0" maxOccurs="unbounded" type="EUReg:CompetentAuthorityPropertyType"/>
					<xs:element name="parentCompany" minOccurs="0" maxOccurs="1" type="EUReg:ParentCompanyDetailsPropertyType"/>
					<xs:element name="EPRTRAnnexIActivity" type="EUReg:EPRTRAnnexIActivityTypePropertyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="remarks" type="xs:string" minOccurs="0" maxOccurs="1"/>

					<xs:element name="facilityType" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>http://dd.eionet.europa.eu/vocabulary/euregistryonindustrialsites/FacilityTypeValue/</xs:documentation>
						</xs:annotation>
					</xs:element>


					<xs:element name="dateOfStartOfOperation" nillable="true">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:date">
									<xs:attribute name="nilReason" type="gml:NilReasonType"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
														
					<xs:element name="address" nillable="true">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="EUReg:AddressDetailsPropertyType">
									<xs:attribute name="nilReason" type="gml:NilReasonType"/>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="ProductionFacilityPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="EUReg:ProductionFacility"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	
	
	
	<xs:element name="ProductionInstallation" type="EUReg:ProductionInstallationType"
		substitutionGroup="pf:ProductionInstallation"/>
	<xs:complexType name="ProductionInstallationType">
		<xs:complexContent>
			<xs:extension base="pf:ProductionInstallationType">
				<xs:sequence>
					<xs:element name="installationName" type="EUReg:FeatureNamePropertyType"/>
					<xs:element name="baselineReportIndicator" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>http://dd.eionet.europa.eu/vocabulary/euregistryonindustrialsites/BaselineReportValue/</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="BATDerogation" minOccurs="0" maxOccurs="unbounded" type="EUReg:BATderogationTypePropertyType"/>

					<xs:element name="competentAuthorityPermits" minOccurs="0" maxOccurs="unbounded" type="EUReg:CompetentAuthorityPropertyType"/>
					<xs:element name="competentAuthorityInspections" minOccurs="0" maxOccurs="unbounded" type="EUReg:CompetentAuthorityPropertyType"/>

					<xs:element name="siteVisits" minOccurs="0" maxOccurs="1" type="EUReg:SiteVisitsTypePropertyType"/>


					<xs:element name="otherRelevantChapters" type="gml:ReferenceType" minOccurs="0"
						maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>
								http://dd.eionet.europa.eu/vocabulary/euregistryonindustrialsites/RelevantChapterValue/
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="permit" minOccurs="0" maxOccurs="unbounded" type="EUReg:PermitDetailsPropertyType"/>

					<xs:element name="IEDAnnexIActivity" type="EUReg:IEDAnnexIActivityTypePropertyType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="eSPIRSIdentifier" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="ETSIdentifier" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>

					<xs:element name="remarks" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="stricterPermitConditions" minOccurs="0" maxOccurs="unbounded" type="EUReg:StricterPermitConditionsTypePropertyType"/>
					<xs:element name="publicEmissionMonitoring" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="publicEmissionMonitoringURL" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="BATConclusion" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>http://dd.eionet.europa.eu/vocabulary/euregistryonindustrialsites/BATConclusionValue/</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="installationType" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>http://dd.eionet.europa.eu/vocabulary/euregistryonindustrialsites/InstallationTypeValue/</xs:documentation>
						</xs:annotation>
					</xs:element>


					<xs:element name="dateOfStartOfOperation" nillable="true">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:date">
									<xs:attribute name="nilReason" type="gml:NilReasonType"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
						
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProductionInstallationPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="EUReg:ProductionInstallation"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	
	
	<xs:element name="ProductionInstallationPart" type="EUReg:ProductionInstallationPartType"
		substitutionGroup="pf:ProductionInstallationPart"/>
	<xs:complexType name="ProductionInstallationPartType">
		<xs:complexContent>
			<xs:extension base="pf:ProductionInstallationPartType">
				<xs:sequence>
					<xs:element name="installationPartName" type="EUReg:FeatureNamePropertyType"/>	
					<xs:element name="plantType" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>
								http://dd.eionet.europa.eu/vocabulary/euregistryonindustrialsites/PlantTypeValue/ 
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="derogations" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>
								http://dd.eionet.europa.eu/vocabulary/euregistryonindustrialsites/DerogationValue/
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="nominalCapacity" minOccurs="0" maxOccurs="1" type="EUReg:CapacityWasteIncinerationTypePropertyType"/>
					<xs:element name="specificConditions" minOccurs="0" maxOccurs="1" type="EUReg:SpecificConditionsTypePropertyType"/>
					<xs:element name="totalRatedThermalInput" type="xs:double" minOccurs="0" maxOccurs="1"/>
					<xs:element name="remarks" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="heatReleaseHazardousWaste" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
					<xs:element name="untreatedMunicipalWaste" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
					<xs:element name="publicDisclosure" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="publicDisclosureURL" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="dateOfStartOfOperation" nillable="true">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:date">
									<xs:attribute name="nilReason" type="gml:NilReasonType"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>

				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProductionInstallationPartPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="EUReg:ProductionInstallationPart"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	
	
	<xs:element name="ProductionSite" type="EUReg:ProductionSiteType"
		substitutionGroup="pf:ProductionSite"/>
	<xs:complexType name="ProductionSiteType">
		<xs:complexContent>
			<xs:extension base="pf:ProductionSiteType">
				<xs:sequence>
					<xs:element name="siteName" type="EUReg:FeatureNamePropertyType"/>	
					<xs:element name="location" type="gml:PointPropertyType"/>
					<xs:element name="reportData" type="EUReg:ReportDataPropertyType"/>		
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProductionSitePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="EUReg:ProductionSite"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="ReportData" type="EUReg:ReportDataType"
		substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="ReportDataType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="reportingYear" type="xs:gYear"/>
					<xs:element name="countryId" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>
								http://dd.eionet.europa.eu/vocabulary/euregistryonindustrialsites/CountryCodeValue/
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReportDataPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="EUReg:ReportData"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	
</xs:schema>
